.container {
  height: 100vh;
}

.container__questions {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-image: url(src/assets/imgs/Questions.jpg);
  background-size: cover;
}

#logo {
  background-image: url("src/assets/imgs/Logo.png");
  background-size: cover;
  width: 300px;
  height: 100px;
}

.question {
  border: 1px solid red;
  width: 80%;
  height: 20%;
  align-self: center;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.answers {
  margin-top: 5%;
  border: 1px solid blue;
  height: 50%;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.submit {
  border: 1px solid gray;
  width: 70%;
}
