.container {
  height: 100vh;
}

.container__questions {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-image: url(src/assets/imgs/Questions.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;

}

.question-count{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
}

#logo {
  background-image: url("src/assets/imgs/Logo.png");
  background-size: cover;
  width: 300px;
  height: 100px;
  margin-bottom: 100px;
}

.question {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 38px;
  width: 80%;
  height: 15%;
  align-self: center;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.answers {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 5%;
  width: 150px;
  height: 50px;
  background: transparent;
  transition: ease-in-out;
}

.answers:hover {
  background: #1c8ad559;
  transform: scale(1.1);
}

.submit {
  border: 1px solid gray;
  width: 70%;
}
